<%- include('partials/header.ejs') %>

   <div id="header" class="mb-4 mt-1">
    <div class="border-bottom rounded-bottom-4 border-top rounded-top-3">
        <header class="d-flex flex-wrap justify-content-center py-1 ">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4">Optho-app</span>
          </a>
    
          <ul class="nav nav-pills py-2">
            <button type="button" class="btn btn-outline-light" onclick="window.location.href='http://localhost:3000/addPat'">ADD</button>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
              </form>
          </ul>
        </header>
    </div>
   </div>


    <div id="home">
        <div class="container contpat">
            <% name.map((n)=> {%>
                <div class="patients row gx-1">
                    <div class="pd col-12" data-id="<%= n.id %>">
                        <p class="mb-1">Patient ID: <%= n.id %>
                        </p>
                        <p class="mb-1">Patient Name: <%= n.name %>
                        </p>
                    </div>
                    <!-- <div class="container col-3 ">
                        <div class="opr-btn row-col-2 grid gap-0 row-gap-1">
                            <div class="g-col-12 w-100">
                                <form action="/updatePat/<%= n.id %>" method="post">
                                    <button class="btn btn-primary w-100 ">UPDATE</button>
                                </form>
                            </div>
                            <div class="g-col-12 w-100 mt-1">
                                <form action="/deletePat/<%= n.id %>" method="post">
                                    <input type="hidden">
                                    <button class="btn btn-danger w-100 " type="submit">DELETE</button>
                                </form>
                            </div>
                        </div>
                    </div> -->
                    <div class="col w-100">
                        <form action="/deletePat/<%= n.id %>" method="post">
                            <input type="hidden">
                            <button class="btn btn-danger w-100" type="submit">DELETE</button>
                        </form>
                    </div>

                    <div class="col w-100">
                        <form action="/updatePat/<%= n.id %>" method="post">
                            <button class="btn btn-primary w-100">UPDATE</button>
                        </form>
                    </div>


                </div>
                <% }); %>
        </div>
    </div>




    <script>
        //New Window opening function
        document.querySelectorAll('.pd').forEach(div => {
            div.addEventListener('click', function () {
                const patientId = this.getAttribute('data-id');
                window.open(`/patientDet/${patientId}`, '_blank');
            });
        });

        //Resizing
        const resizableDiv = document.querySelector('#home');
        function adjustDivHeight() {
            if (resizableDiv.scrollHeight > window.innerHeight * 0.9) {
                resizableDiv.style.height = 'auto';
            } else {
                resizableDiv.style.height = '87.5vh';
            }
        }
        adjustDivHeight();
        window.addEventListener('resize', adjustDivHeight);

    </script>

    <%- include('partials/footer.ejs') %>