<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= det.name%> Details[Optho-App]
    </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: fit-content;
            margin: 0;
        }

        .card {
            background: white;
            border-radius: 8px;
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            width: 400px;
            /* Increased width */
            padding: 20px;
            /* Added padding */
        }

        .patient-photo {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }

        .card-content {
            padding: 15px 0;
        }

        .patient-name {
            margin: 0;
            font-size: 28px;
            /* Increased font size */
            color: #333;
        }

        .patient-age {
            font-size: 18px;
            /* Increased font size */
            color: #777;
        }

        .patient-description,
        .patient-history,
        .patient-allergies,
        .patient-contact {
            color: #555;
            margin-top: 10px;
            font-size: 16px;
            /* Increased font size */
        }

        .section-title {
            font-weight: bold;
            margin-top: 15px;
            color: #333;
        }
    </style>
</head>

<body>
    <div class="card">
        <!-- <img src="patient-photo.jpg" alt="Patient Photo" class="patient-photo"> -->
        <div class="card-content">
            <h2 class="patient-name">
                <%= det.name%>
            </h2>
            <p>Registration No: <%= det.registration_number %>
            </p>
            <p>Age/Sex: <%= det.age_sex%>
            </p>
            <p>Contact No: 91+<%= det.contact_number%>
            </p>
            <p>Type of Diabetes: <%= det.diabetes_type%>
            </p>
            <p>Insulin: <%= det.insulin%>
            </p>
            <p>No. of OHA(Oral Hypoglycemic): <%= det.oha_count%>
            </p>
            <p>HBA1c: <%= det.hba1c%>
            </p>
            <p>Visual Acuity of Right Eye: <%= det.bcva_right%>
            </p>
            <p>Visual Acuity of Left Eye: <%= det.bcva_left%>
            </p>
            <p>IOP of Right Eye: <%= det.iop_right%>
            </p>
            <p>IOP of Left Eye: <%= det.iop_left%>
            </p>
            <p>ETDRS Grade of Right Eye: <%= det.dr_right%>
            </p>
            <p>Macular Edema of Right Eye: <%= det.macular_edema_right%>
            </p>
            <p>OCT finding of Right Eye: <%= det.oct_right%>
            </p>
            <p>ETDRS Grade of Left Eye: <%= det.dr_left%>
            </p>
            <p>Macular Edema of Left Eye: <%= det.macular_edema_left%>
            </p>
            <p>OCT finding of Left Eye: <%= det.oct_left%>
            </p>
            <p>Right Eye Treatment advice: <%= det.advice_right%>
            </p>
            <p>Left Eye Treatment advice: <%= det.advice_left%>
            </p>
            <p>Follow Up: <%= det.follow_up%>
            </p>
        </div>
    </div>
</body>

</html>